<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<%- include('./partials/menu.ejs') %>
<a href="/blogs" id="home"><i class="fa-solid fa-house"></i></a>
<body>
  
  <% num = 0 %>
  <div class="fullpage">
    <%- include("./partials/mainhead.ejs") %>
    <h1 style="text-transform: capitalize;display: flex; justify-content: center; padding-bottom: 20px; text-decoration: underline;"><%- name %> recipes</h1>
    <div class="content">
      <ol id="mainl">
            <% 
            console.log(webpage != "30");
            if ((webpage != "30") && (webpage != "31")){
            if (blogs.length > 0) { %> 
        <%for (let i = blogs.length-1; i >= 0; i--) { blog = blogs[i] %>
          <% 
          for (let j = 0; j < blog.categ.length; j++) {
            if (webpage == blog.categ[j]){
            num = num + 1;
            if (num <= endlimit &&  num > startlimit ) { 
              %>
        <li id="eachvid">
          <a class="singlevid" href="/blogs/<%= blog._id %>">
            <div class="container">
              <img src="<%= blog.thumb %>" alt="Avatar" class="sThumbnail">
              <div class="overlay">
                <div class="text"><%= blog.name %></div>
              </div>
            </div>
          </a>
        </li>
        <% }}}}}}%>
    </div>
  
  
  <%- include("./partials/previnext.ejs") %>
  <%- include("./partials/foot.ejs") %>
  <script>
    var startlimit = <%= startlimit %>;
    var endlimit = <%= endlimit %>;
    const width = window.outerWidth;
    console.log(width);
    function changeval(prevnext, type) {
      if (width > 770) {
      if (prevnext == 1) {
        startlimit = Math.max(0, startlimit - 6);
        endlimit = Math.max(6, endlimit - 6);
      } else {
        console.log(numofelem)
        startlimit = startlimit + 6;
        if (<%-numofelem%> > (endlimit)) {
          endlimit = endlimit + 6;
        } else {
          if (<%-numofelem%> > 6) {
          startlimit = <%= blogs.length %>-6;
        } else {
          startlimit = 0;
        }
          endlimit = <%= numofelem %>;

          document.getElementById("offonforw").disabled = true
        }
      }} else {
        if (prevnext == 1) {
        startlimit = Math.max(0, startlimit - 2);
        endlimit = Math.max(2, endlimit - 2);
      } else {
        startlimit = startlimit + 2;
        if (<%-numofelem%> > (endlimit)) {
          endlimit = endlimit + 2;
        } else {
          if (<%-numofelem%> > 2) {
          startlimit = <%= blogs.length %>-2;
        } else {
          startlimit = 0;
        }
          endlimit = <%= numofelem %>;

          document.getElementById("offonforw").disabled = true
        }
      }
      window.location.href = `/blogs/${type}?startlimit=${startlimit}&endlimit=${endlimit}#eachvid`;
    }}
  </script>
</div>
</body>
</html>
