<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<%- include('./partials/menu.ejs') %>
<a href="/blogs" id="home"><i class="fa-solid fa-house"></i></a>
<body>
  
  <% num = 0 %>
  <div class="fullpage">
    <%- include("./partials/mainhead.ejs") %>
    <div class="headandmag">
      <h1 style="text-transform: capitalize;display: flex; justify-content: center; padding-bottom: 20px; text-decoration: underline;"><%- name %> recipes</h1>
      <a onclick="document.querySelector('dialog').showModal()" style="cursor: pointer;"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
    <dialog class="dialog">
      <a class="close" onclick="document.querySelector('dialog').close()" style="cursor: pointer; border: none; background-color: transparent; font-size: 35px;">×</a>
      <h1>Search Recipes</h1>
      <input style="font-size: 25px; width: 22cm;" type="input" id="search" list="options" placeholder="Search for recipes.." title="Type in a name">
      <datalist id="options">
        <% for (let i = 0; i < blogs.length; i++) { %>
        <option id="select" value="<%= blogs[i].name %>"></option>
        <% } %>
        <!-- when the user clicks enter it should search -->
      </datalist>
      <script>
        document.getElementById('search').addEventListener('keyup', function(event) {
          console.log("clicked")
          if (event.key === 'Enter') {
            submitinput();
          }
        });
        function submitinput() {
          // Dvar input, filter, ul, li, a, i, txtValue;
          var blogName;
          input = document.getElementById('search');
          filter = input.value.toUpperCase();
          console.log(filter);
          <% blogs.forEach(element => { %>
            blogName = '<%= element.name %>';
            blogName = blogName.toUpperCase();
            if (blogName.includes(filter)) {
              filteredBlogs.push(<%- JSON.stringify(element) %>);
            }
          <% }); %>

          console.log(filteredBlogs);
        }
      </script>
    </dialog>
    <div class="content">
      <ol id="mainl">
            <% 
            console.log(webpage != "30");
            if ((webpage != "30") && (webpage != "31")){
            if (blogs.length > 0) { %> 
        <%for (let i = blogs.length-1; i >= 0; i--) { blog = blogs[i] %>
          <% 
          for (let j = 0; j < blog.categ.length; j++) {
            if (webpage == blog.categ[j]){
            num = num + 1;
            if (num <= endlimit &&  num > startlimit ) { 
              %>
        <li id="eachvid">
          <a class="singlevid" href="/blogs/<%= blog._id %>">
            <div class="container">
              <img src="<%= blog.thumb %>" alt="Avatar" class="sThumbnail">
              <div class="overlay">
                <div class="text"><%= blog.name %></div>
              </div>
            </div>
          </a>
        </li>
        <% }}}}}}%>
    </div>
  
  
  <%- include("./partials/previnext.ejs") %>
  <%- include("./partials/foot.ejs") %>
  <script>
    var startlimit = <%= startlimit %>;
    var endlimit = <%= endlimit %>;
    const width = window.outerWidth;
    console.log(width);
    function changeval(prevnext, type) {
      if (width > 770) {
      if (prevnext == 1) {
        startlimit = Math.max(0, startlimit - 6);
        endlimit = Math.max(6, endlimit - 6);
      } else {
        startlimit = startlimit + 6;
        
        if (<%-numofelem%> > endlimit+6) {
          endlimit = endlimit + 6;
          console.log(endlimit)
        } else {
          if (<%-numofelem%> > 6) {
          startlimit = <%= numofelem %>-6;
        } else {
          startlimit = 0;
        }
          endlimit = <%= numofelem %>;

          document.getElementById("offonforw").disabled = true
        }
      }} else {
        if (prevnext == 1) {
        startlimit = Math.max(0, startlimit - 2);
        endlimit = Math.max(2, endlimit - 2);
      } else {
        startlimit = startlimit + 2;
        if (<%-numofelem%> > (endlimit)) {
          endlimit = endlimit + 2;
        } else {
          if (<%-numofelem%> > 2) {
          startlimit = <%= blogs.length %>-2;
        } else {
          startlimit = 0;
        }
          endlimit = <%= numofelem %>;

          document.getElementById("offonforw").disabled = true
        }
      }      
    }
    console.log(startlimit, endlimit)
    window.location.href = `/blogs/${type}?startlimit=${startlimit}&endlimit=${endlimit}#eachvid`;
    }
  </script>
</div>
</body>
</html>
