<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
<%- include('./partials/phonemenu.ejs') %>
<div id="pc">
<%- include('./partials/menu.ejs') %>
</div>

<body>
  <%
  function generateUniqueRandoms(min, max, count) {
    let nums = new Set();
    while(nums.size < count) {
        let num = Math.floor(Math.random() * (max - min + 1)) + min;
        if(!(num in nums)) {
            nums.add(num);
        }
    }
    return Array.from(nums);
}
%>
<%
  function ellipsify (str, num) {
     if (str.length > num) {
        return (str.substring(0, num) + "...");
    }
    else {
        return str;
    }
} %>
  <div class="fullpage">
  <%- include("./partials/mainhead.ejs") %> <%-
    include("./partials/mainnavigation.ejs") %>
    <!-- main title -->
  <h1 id="titlesub">SATISFY YOUR CRAVINGS WITH ME RECIPES AAA TASTE</h1>
  
<div class="colitemlist">
<ol>
  <% var random = generateUniqueRandoms(0, blogs.length-1, 4);%>
      <% for (let i=0; i < random.length; i++) {
          let indice = random[i]
          sampleblog = blogs[String(indice)]
          %>
          <a class="linkdirect" href="/blogs/<%= sampleblog._id %>">
          <li class="bord">
            <ul class="onebelow">
              <li>
                
                <img class="mThumbnail" src="<%= sampleblog.thumb %>" alt="hello" /> 
              </li>
              <li>
                <h2><%= ellipsify(sampleblog.name, 45) %></h2>
                <h3 style="white-space: pre-line; font-weight: 100;"><%= ellipsify(sampleblog.Ingredients, 150) %></h3>
              </li>
            </ul>
          </li>
          </a>
        
            <% }%>
  </ol>
</div>

<div class="colitemlistphone">
  <ol>
    <% var random = generateUniqueRandoms(0, blogs.length-1, 1);%>
        <% for (let i=0; i < random.length; i++) {
            let indice = random[i]
            sampleblog = blogs[String(indice)]
            %>
            <a class="linkdirect" href="/blogs/<%= sampleblog._id %>">
            <li class="bord">
              <ul class="onebelow">
                <li>
                  <img class="mThumbnail" src="<%= sampleblog.thumb %>" alt="hello" /> 
                </li>
                <li>
                  <h2><%= ellipsify(sampleblog.name, 45) %></h2>
                  <h3 style="white-space: pre-line; font-weight: 100;"><%= ellipsify(sampleblog.Ingredients, 150) %></h3>
                </li>
              </ul>
            </li>
            </a>
          
              <% }%>
    </ol>
  </div>
  <%-include("./partials/contactus.ejs")%>
  <%- include("./partials/foot.ejs") %>
</div>
</div>
</body>

</html>