<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
<%- include('./partials/menu.ejs') %>
<body>
  <div class="fullpage">
  <%- include("./partials/mainhead.ejs") %> <%-
    include("./partials/mainnavigation.ejs") %>


  <h1 id="titlesub">SATISFY YOUR CRAVINGS WITH ME RECIPES AAA TASTE</h1>
<div class="colitemlist">
<ol>
  <!-- Chicken -->
  <li class="bord">
      <ul class="onebelow">
        <li>
          <img src="chicken.jfif" alt="">
        </li>
        <li>
          <h2>Chicken Recipes</h2>
          <h3> Discover the best in poultry perfection with our chicken recipes! From savory classics to innovative dishes, we bring you mouthwatering meals that are simple, delicious, and sure to please every palate.  </h3>
        </li>
      </ul>
  </li>
  <!-- Vegetable -->
  <li class="bord">
    <ul class="onebelow">
      <li>
        <img src="chicken.jfif" alt="">
      </li>
      <li>
        <h2>Vegetable Recipes</h2>
        <h3>Discover the best in poultry perfection with our chicken recipes! From savory classics to innovative dishes, we bring you mouthwatering meals that are simple, delicious, and sure to please every palate.  </h3>
      </li>
    </ul>
  </li>
  <!-- Seafood -->
  <li class="bord">
    <ul class="onebelow">
      <li>
        <img src="chicken.jfif" alt="">
      </li>
      <li>
        <h2>Seafood Recipes</h2>
        <h3>Discover the best in poultry perfection with our chicken recipes! From savory classics to innovative dishes, we bring you mouthwatering meals that are simple, delicious, and sure to please every palate.  </h3>
      </li>
    </ul>
  </li> 
  <li class="bord">
    <ul class="onebelow">
      <li>
        <img src="chicken.jfif" alt="">
      </li>
      <li>
        <h2>Chicken Recipes</h2>
        <h3> Discover the best in poultry perfection with our chicken recipes! From savory classics to innovative dishes, we bring you mouthwatering meals that are simple, delicious, and sure to please every palate.  </h3>
      </li>
    </ul>
</li>
<!-- Vegetable -->
<li class="bord">
  <ul class="onebelow">
    <li>
      <img src="chicken.jfif" alt="">
    </li>
    <li>
      <h2>Vegetable Recipes</h2>
      <h3>Discover the best in poultry perfection with our chicken recipes! From savory classics to innovative dishes, we bring you mouthwatering meals that are simple, delicious, and sure to please every palate.  </h3>
    </li>
  </ul>
</li>
<!-- Seafood -->
<li class="bord">
  <ul class="onebelow">
    <li>
      <img src="chicken.jfif" alt="">
    </li>
    <li>
      <h2>Seafood Recipes</h2>
      <h3>Discover the best in poultry perfection with our chicken recipes! From savory classics to innovative dishes, we bring you mouthwatering meals that are simple, delicious, and sure to please every palate.  </h3>
    </li>
  </ul>
</li> 
</ol>
</div>

  <%-include("./partials/contactus.ejs")%>
  <%- include("./partials/foot.ejs") %>
</div>
</body>

</html>