<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<%- include('./partials/menu.ejs') %>
<body>
  
  <% num = 0 %>
  <div class="fullpage">
    <%- include("./partials/mainhead.ejs") %>
    <h1 style="text-transform: capitalize;display: flex; justify-content: center; padding-bottom: 20px; text-decoration: underline;"><%- name %> recipes</h1>
    <div class="content">
        <% 
        lisnames = {"1":"chicken", "19":"beef", "3":"mutton", "2":"seafood", "7":"breakfast", "8":"pork", "9":"egg","10":"pizza","11":"monthi","12":"postnatal","13":"cakes","6":"drinks","14":"starter","15":"pickles","16":"rice","17":"evening", "18":"special"};
        targetcat.forEach(element => { 
        %>
        <h1 style="padding-top: 1.5cm; padding-left: 1cm;padding-bottom: 0.5cm;text-transform: capitalize;"><%-lisnames[element]%> Recipes <br></h1>
        <ol id="fulllist">
        <%
        num=0;
        for (let i = blogs.length-1; i >= 0; i--) { blog = blogs[i] %>
            <% 
            for (let j = 0; j < blog.categ.length; j++) {
              if (element == blog.categ[j]){
                num = num + 1;
                if (num < 4 && num > startlimit ) { 
                %>
          <li id="eachind">
            <a class="singlevid" href="/blogs/<%= blog._id %>">
              <div class="container">
                <img src="<%= blog.thumb %>" alt="Avatar" class="sThumbnail">
                <div class="overlay">
                  <div class="text"><%= blog.name %></div>
                </div>  
              </div>
            </a>
          </li>
          <% }}}} 
          theloc = {"1":"/blogs/chicken", "2":"/blogs/seafood", "3":"/blogs/mutton", "8":"/blogs/pork", "19":"/blogs/beef"};
          %>
        </ol>
        <a href="<%- theloc[element] %>"><h3 id="redir">view all</h3></a>
          <%}); %>        
    </div>
  </div>
  <%- include("./partials/previnext.ejs") %>
  <%- include("./partials/foot.ejs") %>

  <script>
    var startlimit = <%= startlimit %>;
    var endlimit = <%= endlimit %>;
    function changeval(prevnext, type) {
      if (prevnext == 1) {
        startlimit = Math.max(0, startlimit - 6);
        endlimit = Math.max(6, endlimit - 6);
      } else {
        console.log(numofelem)
        startlimit = startlimit + 6;
        if (<%-numofelem%> > (endlimit)) {
          endlimit = endlimit + 6;
        } else {
          if (<%-numofelem%> > 6) {
          startlimit = <%= blogs.length %>-6;
        } else {
          startlimit = 0;
        }
          endlimit = <%= numofelem %>;

          document.getElementById("offonforw").disabled = true
        }
      }
      window.location.href = `/blogs/${type}?startlimit=${startlimit}&endlimit=${endlimit}#eachvid`;
    }
  </script>

</body>
</html>
